<!DOCTYPE html>
<html lang="en">
<!-- make sure that the text that is sent by myself is directly rendered on the client side, so everything from the server is from others -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        @font-face {
            font-family: 'Gameboy';
            src: url('./font/early_gameboy-webfont.woff2') format('woff2'),
                url('./font/early_gameboy-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <title>CHAT</title>
</head>

<body style="width: 100%; height:100%; font-family: Gameboy;">
    <!-- Vue template stuff -->
    <!-- Login Page -->
    <div id="main">
        <div v-if="page == 0" id="login" style="width: 100%; height: 100%;  background-color:#7386ff ;">
            <h1 style="color:#e6e9ff; text-align: center; padding-top: 3em;">WELCOME!</h1>
            <el-row gutter="20">
                <el-col span="12">
                    <el-input placeholder="Please Choose a Username" v-model="newUsername"
                        @keyup.enter.native="updateUsername" />
                </el-col>
                <el-col span="1.5">
                    <el-button @click="updateUsername" type="default" icon="el-icon-thumb
            " style="background-color: #667aff; color: #e6e9ff; font-family: Gameboy;">Submit</el-button>
                </el-col>
                <el-col span="2">
                    <el-button @click="joinAsGuest" type="default" icon="el-icon-user"
                        style="background-color: #667aff; color: #e6e9ff; font-family: Gameboy">Join as Guest
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <!-- <canvas id="loginCanvas"></canvas> -->
        <!-- Main page -->
        <!-- Header thing -->
        <div v-if="page == 1" id="header">
            <el-row>
                <el-col span="24">
                    <h1
                        style="color: black; padding: .5em; text-align: center; background: #7386ff; color:#e6e9ff; margin: 0 auto">
                        CHAT
                    </h1>
                </el-col>
            </el-row>
            <!-- Textbox -->
            <div id="textBox">
                <el-row>
                    <el-col span='2' style="background-color: #7386ff; color: #e6e9ff;">
                        <h5 style="padding: 10px; margin-bottom: 20px;">Current Users:</h5>
                        <h6 v-for="user in currentUsers" style="padding: 10px;"> {{user}}</h6>
                    </el-col>
                    <el-col span='18'>
                        <ul style="background-color: #e6e9ff;">
                            <li style="text-align: left; list-style-type: none; color: #667aff; padding: .5em; padding: .5em;"
                                v-for="messages in inputedMessage">
                                <p style ="font-family: Gameboy; font-size: small; " v-for ="time in timeList">{{time}}</p> <b>{{messages.username}}</b>: {{messages.words}} 
                            </li>
                        </ul>
                    </el-col>
                </el-row>
            </div>
            <!-- input, tab thing  -->
            <el-form @submit.native.prevent>
                <el-row gutter="20">
                    <el-col span="2">
                        <p style="background-color:#7386ff ;"></p>
                    </el-col>
                    <el-col span='18'>
                        <el-input type="text" placeholder="Say something" v-model="message.words"
                            @keyup.enter.native="sendMessage"
                            style="margin: 1.5em auto; border-radius: 2em; align-content: center; border-color: #7386ff; font-family: Gameboy" />
                    </el-col>
                    <el-col span='4'>
                        <el-button type='default' icon="el-icon-check" @click="sendMessage"
                            style="margin: 1.5em auto; align-content: center; background-color: #7386ff; color: #fff; font-family: Gameboy">
                            Send
                        </el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
    <!-- Vue script stuff -->
    <script>
        const currentTime = new Date();
        const mainRoom = new Vue({
            el: "#main",
            data: {
                randomArray: ['bengalcat', 'hedgehog', 'chipmunk', 'hamster', 'mockingbird', 'bot1', 'bot2', 'bot3', 'bot4'],
                message: {
                    username: 'Anonymous',
                    words: '',
                },
                page: 0,
                inputedMessage: [],
                newUsername: '',
                newNotification: [],
                currentUsers: [],
                //time stuff
                timeList: []
            },
            created: function () {
                socket = io();
            },
            //methods in the area of this object
            methods: {
                sendMessage: function () {
                    //send message to the server
                    if (!this.message.words) {
                        return null;
                    } else if (!this.message.words.replaceAll(" ", "")) {
                        return null;
                    }
                    socket.emit('message', this.message);
                    this.message.words = '';
                },
                updateUsername: function () {
                    if (!this.newUsername) {
                        alert("please input your username");
                        return;
                    }
                    this.message.username = this.newUsername;
                    socket.emit('join', this.newUsername);
                    this.currentUsers.push(this.newUsername);
                    this.newUsername = '';
                    this.page = 1;
                },
                joinAsGuest: function () {
                    this.message.username = this.randomArray[Math.floor(Math.random() * this.randomArray.length)];
                    this.page = 1;
                    this.currentUsers.push(this.message.username);
                    socket.emit('join', this.message.username);
                    // console.log(`${this.message.username} has joined the server`)
                },
                getCurrentTime: function(){
                    let currentTime = new Date();
                    return `${currentTime.getFullYear()}\/ ${currentTime.getMonth() + 1} \/${currentTime.getDate()} // ${currentTime.getHours()} : ${currentTime.getMinutes()}`;
                }
            },
            computed: {

            },
            // make sure only call the socket events after the virtual dom thing is attached to the visual layer
            mounted: function () {
                socket.on("message", function (inMessage) {
                    mainRoom.inputedMessage.push(inMessage);
                    mainRoom.timeList.push(mainRoom.getCurrentTime());
                    console.log(mainRoom.timeList);
                })
                socket.on("updateUser", function (user) {
                    mainRoom.currentUsers = user;
                    console.log(mainRoom.currentUsers)
                })
                //get current time locally and bind to the message box
            },
        })
    </script>
    <script src="./js/main.js"></script>
</body>
</html>